body {
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
  font-family: Arial;
  padding: 20px;
}

.card {
  background: rgba(255,255,255,0.05);
  padding: 20px;
  margin: 15px 0;
  border-radius: 12px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.03);
}

input {
  display: block;
  margin: 10px 0;
  padding: 10px;
}

button {
  padding: 10px;
  background: #2563eb;
  color: white;
  border: none;
}